<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Apple Pie Café</title>
</head>
<body>
    <header>
        <nav role="navigation" aria-label="main navigation">
            <div>
                <a href ="/applePieCafe">
                    <img src="https://i.ibb.co/bQ9kB6b/logo.png" alt="logo">
                </a>
                <h1>EL APPLE PIE CAFÉ</h1>
            </div>
            <div>
                <ul>
                    <li><a href="/applePieCafe/menu">Menú</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                    <li><a href="#">Horario y Ubicación</a></li>
                    <li><a href ="#">Contacto</a></li>
                </ul>         
            </div>
        </nav>
    </header>
    <main>
        <div>
            <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flartoffashion.com%2Fwp-content%2Fuploads%2F2018%2F05%2Fgateaubakery11.jpg&f=1&nofb=1">
            <h1>MENU</h1>
        </div>
        <div>
            <% allProducts.forEach(product => { %>
                <div>
                    <a href = "/applePieCafe/menu/<%= product._id%>">
                        <img src="<%= product.img%>" alt="product image">
                        <article>
                            <h2><%= product.name %></h2>
                            <p><%= product.description %></p>
                            <h3>$<%= product.price %></h3>
                        </article>
                    </a>
                </div>
            <% }) %>
        </div>
    </main>
</body>
</html>