<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Apple Pie Café</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="site-nav" role="navigation" aria-label="main navigation">
                <div>
                    <a href ="/applePieCafe">
                        <img src="https://i.ibb.co/bQ9kB6b/logo.png" alt="logo">
                    </a>
                    <h1>EL APPLE PIE CAFÉ</h1>
                </div>
                <div>
                    <ul>
                        <li><a href="/applePieCafe/menu">Menú</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Horario y Ubicación</a></li>
                        <li><a href ="#">Contacto</a></li>
                    </ul>         
                </div>
                <hr>
                <div class="site-social">
                    <ul class="social-accounts">
                        <li><a href='#'><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href='#'><i class="fa-brands fa-square-instagram"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section id="hero">
            <h1>Menú</h1>
            <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flartoffashion.com%2Fwp-content%2Fuploads%2F2018%2F05%2Fgateaubakery11.jpg&f=1&nofb=1" alt="pastries image">
        </section>        
        <form class="center" action="/applePieCafe/menu/new">
            <button type="submit">Producto Nuevo</button>
        </form>
        <div class = "menu">
            <% allProducts.forEach(product => { %>
                <div class="bakery-item">
                    <a class="column" href = "/applePieCafe/menu/<%= product._id%>">
                        <article class="column left">
                            <h2><%= product.name %></h2>
                            <p><%= product.description %></p>
                            <h3 class="price">$<%= product.price %></h3>
                        </article>
                        <img class ="column right"src="<%= product.img%>" alt="product image">
                    </a>
                </div>
            <% }) %>
        </div>

    </main>
</body>
</html>